body {
  width: 99%;
  height: 900px;
  background-image: url("/assets/img/simon-berger-unsplash.jpg");
  background-size: cover;
  background-repeat: nrepeat;
  background-color: rgb(88, 62, 9);
}

#title-bar {
  margin-top: 20px;
}

.spacing-reset {
  padding: 0;
  margin: 0;
  border: 0;
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style-type: none;
  border: 0;
}

@media (min-width: 1200px) {
  .container {
    width: 990px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 990px;
  }
}

.enter_section {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

#enter_text {
  width: 400px;
  height: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
  font-size: 38px;
}

.eaten {
  border-color: black;
  border-style: solid;
  border-width: 3px;
}

.eat-it-form {
  padding-bottom: 20px;
}

#my-burger-button {
  margin: 20px auto;
  background-color:  rgb(18, 163, 4);
}

.devourButt {
  background-color: rgb(233, 5, 5);
  color:bisque;
}

h1 {
  color: rgb(75, 26, 14);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2 {
  color: rgb(18, 163, 4);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.instructions {
  color: rgb(233, 5, 5);
  font-family:cursive;
}